{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}ABRP Plugin Status {% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Connection Status:</h2>
<table class="table">
  <tbody>
    {% if plugin.connection_state.enabled %}
    <tr class="table-success">
    {% else %}
    <tr class="table-danger">
      {% endif %}
          <td>Connection</td>
          <td>{{ plugin.connection_state.value.value }}</td>
      </tr>
    <tr>
        <td>Subsequent Errors</td>
        <td>{{ plugin.subsequent_errors}}</td>
    </tr>
  </tbody>
</table>
<h2>Last Telemetry:</h2>
<p>Last telemetry data sent to the ABRP servers for each connected vehicle</p>
<table class="table">
  <thead>
    <tr>
      <th>VIN</th>
      <th>transmitted</th>
      <th>Telemetry</th>
    </tr>
  <tbody>
      {% for vin, (transmitted, telemetry) in plugin.last_telemetry_data.items() %}
      <tr>
        <td>{{vin}}</td>
        <td><p class="js-convert-time">{{transmitted}}</p></td>  
        <td>
          <table class="table">
            {% for key, value in telemetry.items() %}
            <tr>
              <td>{{key}}</td>
              <td>{{value}}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<h2>Last ABRP Data:</h2>
<p>Latest data for each vehicle from ABRP (e.g. the next charge level on an active route)</p>
<table class="table">
  <thead>
    <tr>
      <th>VIN</th>
      <th>Object</th>
    </tr>
  <tbody>
      {% for id, objects in plugin.abrp_objects.items() %}
      <tr>
        <td>{{objects.parent.id}}</td>
        <td>
          <table class="table">
            {% if objects.next_charge_level.enabled %}
            <tr>
              <td>next_charge_level</td>
              <td>{{objects.next_charge_level}}</td>
            </tr>
            {% endif %}
          </table>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}